extends ../layout

block content
  include ../_header
  
  .container
    table.table
      thead
        tr
          th Picture
          th Name
          th Email
          th Actions
      tbody
        tr
          td
            
          td #{profile.displayName}
          td #{profile.email}
          td 
            button.btn.btn-danger Delete
          
