nav.bar-tab
  ul.tab-inner
    li.tab-item.active
      a(href='/', data-transition='slide-in')
        img.tab-icon(src='/icons/44-shoebox@2x.png')
        .tab-label Files
    li.tab-item
      a(href='/search', data-transition='slide-in')
        img.tab-icon(src='/icons/73-radar@2x.png')
        .tab-label Search
    li.tab-item
      a(href='/account', data-transition='slide-in')
        img.tab-icon(src='/icons/19-gear@2x.png')
        .tab-label Settings