footer
  a.topcoat-icon-button
    span.topcoat-icon.topcoat-icon--menu-stack
  a.topcoat-icon-button.is-active
    span.topcoat-icon.topcoat-icon--menu-stack
  a.topcoat-icon-button
    span.topcoat-icon.topcoat-icon--menu-stack
