#footer
  a(href='#')
    i.fa.fa-hdd-o
    |  Files
  a(href='#')
    i.fa.fa-cloud-upload
    |  Upload
  a(href='#')
    i.fa.fa-search
    |  Search
  a(href='#')
    i.fa.fa-ellipsis-h
    |  Settings