#footer
  nav.bar-tab
    ul.tab-inner
      li.tab-item.active
        a(href='#')
          img.tab-icon(src='icons/footer/database-50.png')
          .tab-label Files
      li.tab-item
        a(href='#')
          img.tab-icon(src='icons/footer/shared-50.png')
          .tab-label Upload
      li.tab-item
        a(href='#')
          img.tab-icon(src='img/icon-messages.png')
          .tab-label Label
      li.tab-item
        a(href='#')
          img.tab-icon(src='img/icon-hamburger.png')
          .tab-label Label