#footer
  nav.bar-tab
    ul.tab-inner
      li.tab-item.active
        a(href='#')
          img.tab-icon(src='/icons/footer/database-50.png')
          .tab-label Files
      li.tab-item
        a(href='#')
          img.tab-icon(src='/icons/footer/upload2-50.png')
          .tab-label Upload
      li.tab-item
        a(href='#')
          img.tab-icon(src='/icons/footer/search-50.png')
          .tab-label Search
      li.tab-item
        a(href='#')
          img.tab-icon(src='/icons/footer/settings-50.png')
          .tab-label Settings