.topcoat-navigation-bar
  .topcoat-navigation-bar__item.left.quarter
    a.topcoat-icon-button--quiet.menu-popup-button(href='#menu')
      i.icon-reorder
  .topcoat-navigation-bar__item.center.half
    if file
      h1.topcoat-navigation-bar__title #{file.name}
    else
      h1.topcoat-navigation-bar__title Cloud
        strong Bucket
  .topcoat-navigation-bar__item.right.quarter
    a.topcoat-icon-button--quiet.upload-popup-link(href='#upload')
      i.icon-cloud-upload
#upload.zoom-anim-dialog.mfp-hide
  form(action='/files', method='POST', enctype='multipart/form-data')
    p Only Text files, Word documents, PDFs, MP3/AAC music, MP4/MOV/AVI/FLV video formats are supported. 
    input(type='file', name='userFile')
    br
    br
    button.topcoat-button--cta(type='submit') Upload

#menu.menu-popup.mfp-with-anim.mfp-hide
  ul.topcoat-list.menu-list
    li.topcoat-list__item 
      a(href='#') 
        i.icon-file-text-alt
        |  New File
    li.topcoat-list__item
      a(href='#') 
      i.icon-folder-open-alt
      | New Folder
    li.topcoat-list__item
      a(href='#') 
      i.icon-wrench
      | Options
    li.topcoat-list__item
      a(href='#') 
      i.icon-off
      |  Logout