#header
    button#snap.left Menu
    a.title(href='/') Cloud
      span(style='font-weight:500;') Bucket
    button#search.right Search
#search-header
  form(action='/search', method='POST')
    .input-group
      input.form-control(type='text', name='q', placeholder='Search')
      .input-group-btn
        button(type='reset') Cancel
