//- .topcoat-navigation-bar
//-   .topcoat-navigation-bar__item.left.quarter
//-     a.topcoat-icon-button--quiet.menu-popup-button(href='#menu')
//-       i.icon-reorder
//-   .topcoat-navigation-bar__item.center.half
//-     if file
//-       h1.topcoat-navigation-bar__title #{file.name}
//-     else
//-       h1.topcoat-navigation-bar__title Cloud
//-         strong Bucket
//-   .topcoat-navigation-bar__item.right.quarter
//-     a.topcoat-icon-button--quiet(href='/upload')
//-       i.icon-cloud-upload

nav.navbar.navbar-default(role='navigation')
  
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    
    a.navbar-brand(href='#') Cloud
      strong Bucket
  
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav
      li
        a(href='/upload') 
          span.glyphicon.glyphicon-cloud-upload
          strong Upload
      li
        a(href='/options') 
          span.glyphicon.glyphicon-wrench
          strong Options
      li
        a(href='/logout') 
          span.glyphicon.glyphicon-eject
          strong Logout
      if user.isAdmin
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span.glyphicon.glyphicon-user
            strong Admin
            b.caret
          ul.dropdown-menu
            li
              a(href='/admin/users') List Users
            li
              a(href='/admin/view-usage') View Disk Usage
            li
              a(href='/admin/manage-quota') Manage Disk Quota


#menu.menu-popup.mfp-with-anim.mfp-hide
  ul.topcoat-list.menu-list
    li.topcoat-list__item(id='home')
      i.icon-home
      |  Home
    li.topcoat-list__item(id='new-folder')
      i.icon-folder-open-alt
      | New Folder
    li.topcoat-list__item
      a(href='#') 
        i.icon-wrench
        | Options
    li.topcoat-list__item
      a(href='/logout')
        i.icon-off
        |  Logout

