nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

    a.navbar-brand(href='/') Cloud
      strong Bucket
  
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav
      li
        a(href='/upload') 
          span.glyphicon.glyphicon-cloud-upload  Upload
      li
        a(href='/search')
          span.glyphicon.glyphicon-search  Advanced Search
      li
        a(href='/settings') 
          span.glyphicon.glyphicon-wrench  Settings
      li
        a(href='/logout') 
          span.glyphicon.glyphicon-log-out  Logout
      if user && user.isAdmin
        li
          a(href='/admin/users')
            span.glyphicon.glyphicon-user  Admin
