//nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
//  .navbar-header
//    button#snap.navbar-toggle(type='button')
//      span.sr-only Toggle navigation
//      span.icon-bar
//      span.icon-bar
//      span.icon-bar
//
//    a.navbar-brand(href='/') Cloud
//      strong Bucket
//
#header
  .col-xs-3
    button#snap.btn.pull-left
      span.glyphicon.glyphicon-th-list
      |  &nbsp;Menu
  .col-xs-6
    a.title(href='/') Cloud
      strong Bucket
