//nav.navbar.navbar-fixed-top.navbar-default(role='navigation')
//  .navbar-header
//    button#snap.navbar-toggle(type='button')
//      span.sr-only Toggle navigation
//      span.icon-bar
//      span.icon-bar
//      span.icon-bar
//
//    a.navbar-brand(href='/') Cloud
//      strong Bucket
//
#header
  button#snap.btn.pull-left
    img.icon(src='/icons/header/back-50.png')
    |  Menu
  | Cloud
  strong Bucket


