.topcoat-navigation-bar
  .topcoat-navigation-bar__item.left.quarter
    a.topcoat-icon-button
      span.topcoat-icon.icon-settings
  .topcoat-navigation-bar__item.center.half
    h1.topcoat-navigation-bar__title CloudBucket
  .topcoat-navigation-bar__item.right.quarter
    a.topcoat-icon-button
      span.topcoat-icon.icon-upload
