.topcoat-navigation-bar
  .topcoat-navigation-bar__item.left.quarter
    a.topcoat-icon-button--quiet
      span.topcoat-icon.topcoat-icon--menu-stack
  .topcoat-navigation-bar__item.center.half
    h1.topcoat-navigation-bar__title CloudBucket
  .topcoat-navigation-bar__item.right.quarter
    a.topcoat-icon-button--quiet
      span.topcoat-icon.topcoat-icon--edit
