#header
    button#snap.left Menu
    a.title(href='/') Cloud
      span(style='font-weight:500;') Bucket
    button#search.right Search
#search-header
  form(action='/search', method='POST')
    .input-group
      input.form-control(type='text', placeholder='Search')
      .input-group-btn
        button#cancel Cancel
      
script.
  $('#search').click(function() {
    $('#search-header').show().find('input').focus();
  });
  $('#cancel').click(function() {
      $('#search-header').hide();
    });
