.snap-drawers
  .snap-drawer.snap-drawer-left
    div
      ul
        li.header Main Menu
        li
          a(href='/') 
            span.snap-icon.fa.fa-home
            | Home
        li
          a(href='/upload') 
            span.snap-icon.fa.fa-cloud-upload
            | Upload
        li
          a(href='/search')
            span.snap-icon.fa.fa-search
            | Search
        li
          a(href='/settings') 
            span.snap-icon.fa.fa-gear
            | Settings
        li
          a(href='/logout') 
            span.snap-icon.fa.fa-power-off
            | Logout
        if user && user.isAdmin
          li
            a(href='/admin/users')
              span.snap-icon.fa.fa-user
              | Admin

