.snap-drawers
  .snap-drawer.snap-drawer-left
    div
      ul
        li.header Main Menu
        li
          a(href='/') 
            span.snap-icon.glyphicon.glyphicon-home
            | Home
        li
          a(href='/upload') 
            span.snap-icon.glyphicon.glyphicon-cloud-upload  
            | Upload
        li
          a(href='/search')
            span.snap-icon.glyphicon.glyphicon-search
            | Search
        li
          a(href='/settings') 
            span.snap-icon.glyphicon.glyphicon-wrench
            | Settings
        li
          a(href='/logout') 
            span.snap-icon.glyphicon.glyphicon-log-out
            | Logout
        if user && user.isAdmin
          li
            a(href='/admin/users')
              span.snap-icon.glyphicon.glyphicon-user
              | Admin

