extends layout

block content
  include _header
  #wrapper
    #scroller
      .container.fadeInLeft.animated
        if file.contentType.match('text') || file.contentType.match('pdf') || file.contentType.match('wordprocessingml')
          include detail-text
        else if file.extension.match('epub')
          include detail-book
        else if file.contentType.match('image')
          include detail-image
        else if file.contentType.match('audio')
          include detail-audio
        else if file.contentType.match('video')
          include detail-video
        else
          h3.text-center Unsupported Format
  //include _footer