extends layout

block content
  include _header
  
  .container
    if file.contentType.match('text')
      include detail-text
    else if file.contentType.match('image')
			include detail-image
    else if file.contentType.match('audio')
      include detail-audio
    else if file.contentType.match('video')
      include detail-video