extends layout

block content
  header.bar-title
    a.button(href='/', data-transition='slide-out') Back
    h1.title #{file.name}
  .content
    .content-padded
      h3 Preview
      i Note: This will be a context based preview. Videos will show a random frame, picture will just be picture itself, document will be just the first paragraph, music will have an mp3 player for a listening preview, unsupported file types will not have any previews.
      img(src='http://blog.syracuse.com/axeman/2008/02/large_preview.gif', style='width: 100%')

      h3 Summary
      p #{file.summary}

      br

      h3 Tags
      for kw in file.keywords
        p= kw

      br

      a.button-negative Delete File