extends layout

block content
  if !user
    .container
      .page-header
        h1 Welcome to CloudBucket
          br
          small Online cloud storage with semantic search capability.
      br
      a.btn.btn-primary.btn-lg.btn-block(href='/auth/google', data-ignore='push') Login with Google
  else
    include _header
    .container
      .input-group
        input.form-control(type='text', id='search-field', placeholder='Search all items by name or keywords')
        span.input-group-btn
          button.btn.btn-primary(type='button', id='search-btn')
            span.glyphicon.glyphicon-search
            |  Search
      br
      
      if files.length < 1
        h3.text-center You do not have any files yet
      else
        table.table.table-hover
          tbody
            for file in files
              tr
                td.file-item(id='#{file.id}')
                  a(href='/files/#{file.id}')
                    span.glyphicon.glyphicon-file
                    |  #{file.name}
                    br
                    span.text-muted Size: #{file.friendlySize}

  script.
    $('#search-btn').click(function() {
      var qs = $('#search-field').val();
      $.get('/search?q=' + qs, function(data) {
          console.log(data);
        });
    });
          