extends layout

block content
  if !user
    header.bar-title
      h1.title CloudBucket
    .content
      .content-padded
        p Welcome to CloudBucket - online cloud storage with semantic search capability
        br
        img(src='/icons/Globe.png')
        a.button.button-positive.button-block(href='/auth/google', data-ignore='push') Login with Google
  else
    header.bar-title
      h1.title CloudBucket
    nav.bar-tab
      ul.tab-inner
        li.tab-item.active
          a(href='#')
            img.tab-icon(src='/icons/44-shoebox@2x.png')
            .tab-label Files
        li.tab-item
          a(href='#')
            img.tab-icon(src='/icons/73-radar@2x.png')
            .tab-label Search
        li.tab-item
          a(href='#')
            img.tab-icon(src='/icons/19-gear@2x.png')
            .tab-label Settings
    .content
      .content-padded
        a.button(href='/logout', data-ignore='push') Logout
        a.button(href='/home', data-ignore='push') Home
        a.button(href='/account', data-ignore='push') Account
