extends layout

block content
  include _header

  #wrapper
    #scroller.files
      .input-group.search-bar.fadeInRight.animated
        input.form-control(type='text', id='search-field', placeholder='Search all items by name or keywords')
        span.input-group-btn
          button.btn.btn-primary(type='button', id='search-btn')
            span.glyphicon.glyphicon-search
            |  Search

      if !files
        h3.text-center.fadeInLeft.animated You do not have any files yet
      else
        ul.arrowed
           for file in files
            li.file-item.clearfix(id='#{file.id}')
              .inner
                  a.elipsis(href='/files/#{file.id}') #{file.name}

  include _footer

  script.
    $('#search-field').keydown(function(event) {
      if (event.keyCode == 13) {
        $('#search-btn').trigger('click');
      }
    });
    $('#search-btn').click(function() {
      var qs = $('#search-field').val();
      $('.file-tbody').html('');
      $('.file-table').hide();
      humane.log('Loading...');
      $.post('/search', { q: qs }, function(data) {
        $('.file-table').show();
        $.each(data.files, function(idx, file) {
          $('.file-tbody').append('<tr class="file-row">' +
            '<td class="file-item" id="' + file.id + '">' +
            '<a href="/files/' + file._id + '"><strong>' + file.name + '</strong></a>' +
            '<span class="file-size text-muted">' + file.friendlySize + '</span>' +
            '</td></tr>');
        });

        console.log(data); // files

      });
    });
