extends layout

block content
  if !user
    header.bar-title
      h1.title CloudBucket
    .content
      .content-padded
        p Welcome to CloudBucket - online cloud storage with semantic search capability
        br
        a.button.button-positive.button-block(href='/auth/google', data-ignore='push') Login with Google
  else
    include _header

    .search-bar
      input.topcoat-search-input(type='search', value='', placeholder='search', style='width: 100%')

    .topcoat-list__container
      h3.topcoat-list__header All Files
      ul.topcoat-list.list
        for file in files
          li.topcoat-list__item
            a(href='/files/#{file._id}')
              img(src='/icons/retina/doc 5.png')
              p #{file.name}
              p #{file.size}, modified #{file.lastModified}
              span.chevron
              span.count 0


    #uploadModal.modal
      header.bar-title
        h1.title Upload a file
        a.button(href='#uploadModal') Cancel
      .content.content-padded
        form(action='/files', method='POST', enctype='multipart/form-data')
          input(type='file', name='myFile')
          br
          br
          button.button-main(type='submit') Upload a File
