extends layout

block content
  if !user
    header.bar-title
      h1.title CloudBucket
    .content
      .content-padded
        p Welcome to CloudBucket - online cloud storage with semantic search capability
        br
        a.button.button-positive.button-block(href='/auth/google', data-ignore='push') Login with Google
  else
    header.bar-title
      h1.title CloudBucket
      a.button(href='#uploadModal', data-transition='fade') Upload
    include _footer
    .content
        ul.list
          li
            a(href='#')
              strong My Invoice.docx
              span.chevron
              span.count-main docx
          li
            a(href='#')
              strong Screenshot-04-04-2013.jpg
              span.chevron
              span.count-negative jpeg
    #uploadModal.modal
      header.bar-title
        h1.title Upload a file
        a.button(href='#uploadModal') Cancel
      .content.content-padded
        form(action='/files', method='POST', enctype='multipart/form-data')
          input(type='file', name='file')
          br
          br
          button.button-main(type='submit') Upload a File