doctype 5
html
  head
    meta(charset='utf-8')
    title CloudBucket
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='CloudBucket')
    link(rel='stylesheet', href='/css/ratchet.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/jquery-2.0.0.min.js')
    script(src='/js/ratchet.js')
    script(src='/js/moment.min.js')
  body
    block content