doctype 5
html
  head
    meta(charset='utf-8')
    title CloudBucket
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='CloudBucket')
    link(rel='stylesheet', href='/css/app.css')
    link(rel="apple-touch-icon", href="/img/apple-touch-icon.png")
    //script(data-main='/js/main', src='/js/lib/require.js')

  body
    include _snap-drawer

    #content.snap-content
      block content

    script(src='/js/app.min.js')
