doctype 5
html
  head
    meta(charset='utf-8')
    title CloudBucket
    meta(name='viewport', content='initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='cloudbucket')
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/list-scroll.autoprefixed.css')
    link(rel='stylesheet', href='/css/list-items.autoprefixed.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')
    link(rel='stylesheet', href='/css/jquery.easy-pie-chart.css')
    link(rel='stylesheet', href='/css/jquery.tagsinput.css')
    link(rel='stylesheet', href='/css/jackedup.css')
    link(rel='stylesheet', href='/css/buttons.css')

    
    script(src='/lib/jquery-2.0.0.min.js')

    script(src='/js/jquery.easy-pie-chart.js')
    script(src='/js/jquery.tagsinput.js')
    script(src='/js/humane.min.js')


    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.knob.js')
    script(src='/js/jquery.ui.widget.js')
    script(src='/js/jquery.fileupload.js')


    script(src='/lib/fastclick.js')
    script(src='/lib/jquery.magnific-popup.min.js')
    script(src='/lib/jquery.hammer.min.js')
    script(src='/lib/animateCSS.js')
    script(src='/lib/jquery.transit.min.js')
    script(src='/lib/list-items.js')
    script(src='/lib/list-scroll.js')
    script(src='/js/app.js')
    
  body
    block content
    
     
  

