extends layout

block content
  header.bar-title
    a.button-prev(href='/', data-transition='slide-out') Back
    h1.title Title
  .content
    .content-padded
      p.welcome
        a.button() Login with Google
