extends layout

block content
  include _header
  #wrapper
    #scroller
      .container
        p.heavy By Type
        .row
          .col-xs-4
            img.thumb(data-type='pictures', src='/img/search/Pictures.png')
          .col-xs-4
            img.thumb(data-type='videos', src='/img/search/My Videos.png')
          .col-xs-4
            img.thumb(data-type='music', src='/img/search/Music.png')
        br
        p.heavy By Category
        .row
          .col-xs-4
            img.thumb(data-type='code', src='/img/search/Coding App.png')
          .col-xs-4
            img.thumb(data-type='pdf', src='/img/search/Adobe Acrobat Reader.png')
          .col-xs-4
            img.thumb(data-type='people', src='/img/search/Contacts Folder.png')
        br
        p.heavy By Uploaded Device
        .row
          .col-xs-4
            img.thumb(data-type='desktop', src='/img/search/Computer alt 2.png')
          .col-xs-4
            img.thumb(data-type='android', src='/img/search/OS Android.png')
          .col-xs-4
            img.thumb(data-type='ios', src='/img/search/OS Apple.png')
  include _footer
