extends layout

block content
  include _header
  // TODO: search
  //| Excel - search spreadsheets xls and xlsx
  //| Word - search filter by docx and doc
  //| Music - search all music filetypes: m4a, mp3, wav
  //| My Videos - search by video types: mp4, avi, flv, mov
  //| Powerpoint - pptx and ppt files
  //
  //| Pictures - search by image types
  //| Contacts Folder - search photos that have face in it
  //
  //| OS Android - show files uploaded from Android
  //| OS Apple - show files uploaded from IOS
  //| Computer Alt 2 - show files uploaded from Windows/Linux desktop
  //
  //| Coding App - any code: cpp, js, py, rb, etc.
  //| File - any other file
  //| Notepad alt - text files *.txt, markdown
  //| Adobe - pdf files
  //| Speccy - epub files

  #wrapper
    #scroller

  script.
    require(['search'], function() {
      console.log('Search page has been loaded');
    });