extends layout

block content
  header.bar-title
    h1.title Search
  include _footer
  .content
    .content-padded
      form
        input(type='search', placeholder='Search')
        a.button.button-block Semantic Search
