extends layout

block content
  include _header
  .container
    form
      .input-group
        .input-row
          label Full name
          input.form-control(type='text', value='#{user.displayName}', disabled='disabled')
        .input-row
          label Email
          input.form-control(type='email', value='#{user.email}', disabled='disabled')
        .input-row
          label Google ID
          input.form-control(type='text', value='#{user.googleId}', disabled='disabled')
    br
    a.button.is-danger(href='#deleteAccountModal') Delete Account

    br
    br

    strong Disk Storage:
    |  #{user.diskUsage} bytes remaining