extends layout

block content

  include _header
  .container
    form(role='form', method='post', action='/upload', enctype='multipart/form-data')
      
      .form-group
        label(for='userFile') File
        input#userFile.form-control(type='file', name='userFile' style='display: none;')
        .input-group
          input#uploadField.form-control(type='text', disabled='disabled')
          .input-group-btn
            a.btn.btn-primary(onclick='$(\'input[id=userFile]\').click();') Browse
        
      .form-group
        label(for='exampleInputEmail1') Tags
        input.form-control(name='tags', id='tags')

      button.btn.btn-danger.btn-lg(type='submit') Submit
    
  script.
    $('input[id=userFile]').change(function() {
      $('#uploadField').val($(this).val());
    });

  script.
    $(function() {
      $('#tags').tagsInput({
        'width': '100%'  
      });
    });