extends layout

block content
  include _header
  #wrapper
    #scroller
      .container
        form#uploadForm(role='form', method='post', action='/upload', enctype='multipart/form-data')
          .form-group
            label.heavy(for='userFile') File
            input#userFile.form-control(type='file', name='userFile', style='display: none;')
            .input-group
              input#uploadField.form-control(type='text', disabled='disabled', placeholder='Click Browse to select a file')
              .input-group-btn
                a#browse.btn.btn-primary Browse
          .form-group
            label.heavy(for='exampleInputEmail1') Tags
            input.form-control(name='tags', id='tags')
            input#uploadDevice(type='text', style='display: none;')

          button.ladda-button(data-style='expand-right', data-color='mint', type='submit')
            span.ladda-label Upload

  #message(data-message='#{message}', hidden)