extends layout

block content

  include _header
  .container
    input#lefile.form-control(type='file', name='userFile' style='display: none;')
    .input-group
      input#photoCover.form-control.input-large(type='text')
      .input-group-btn
        a.btn.btn-primary(onclick='$(\'input[id=lefile]\').click();') Browse
  
  script(type='text/javascript')
    $('input[id=lefile]').change(function() {
      $('#photoCover').val($(this).val());
    });
