extends layout

block content

  include _header

  form#upload(method='post', action='/upload', enctype='multipart/form-data')
    #drop
      | File Uploader
      a Browse
      input(type='file', name='userFile', multiple='multiple')
    ul